@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap");

:root {
  --black: #1c1c1c;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --red: #b30000;
  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.5rem;
}

body {
  color: var(--black);
  background-color: #faf5ee;
  background-image: url("/public/img-noise-361x370.png");
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 80%;
  max-width: 80rem;
  height: 95vh;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}

.hero-image {
  display: block;
  max-height: 200px;
  max-width: 200px;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(0 14px 14px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    max-height: 300px;
    max-width: 300px;
  }
}

.intro-text {
  margin: 70px 0 0 0;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
